.blue-column {
  background-color: #8bc6ff;
  border-radius: 0 0 20px 20px;;
  margin-top: 20px;
}

.or {
  height: 100%;
  font-size: 2rem;
}

.upload-button {
  width: 120px;

  &.submit {
    margin-top: 16px; 
  }
}
