.default-container {
  padding: 15px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.body {
  min-height: 100vh;
}

.site-layout {
  padding: 0 50px;
  margin-top: 64;
}

.site-layout-background {
  padding: 24px;
  min-height: 80vh;
  border-radius: 30px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.text-centred {
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

